@model HoTroSinhVien.Models.HoiNhap

@{
    ViewBag.Title = "HoSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hồ Sơ Sinh Viên</h2>


@using (Html.BeginForm("HoSo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thông Tin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CuocThiKiNang,"Cuộc thi kỹ năng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CuocThiKiNang, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="file" id="CuocThiKiNang" name="CuocThiKiNang" class="btn btn-info" />
                @Html.ValidationMessageFor(model => model.CuocThiKiNang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChungChiAV,"Chứng chỉ Tiếng Anh:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ChungChiAV, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="file" id="ChungChiAV" name="ChungChiAV" class="btn btn-info" />
                @Html.ValidationMessageFor(model => model.ChungChiAV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
